 h1 {
     color: red;
 }
 
 .container {
     display: flex;
     /* justify-content: center; */
     align-content: center;
     flex-direction: column;
     max-width: 400px;
 }
 
 #new-game-form,
 #saved-game-form,
 #game-scoring-card {
     padding: 20px;
     margin-bottom: 2px;
     border: 2px solid black;
     border-radius: 10px;
 }
 
 #editScoreModal {
     /* display: flex; */
     /* align-content: center; */
     /* flex-direction: column; */
 }